<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <audio muted loop src="http://m7.music.126.net/20200706110318/92f67dbb5b9cf89af97bc8479de23a38/ymusic/5408/0f53/075a/cb2d96eff08958c294c8003f023d9ecb.mp3" controls="controls" autoplay="autoplay" ></audio>
    <script>
      
        function toggleSound(){
            var audio = document.querySelector('audio')
            if (audio.paused) {
              
                audio.play();
            }else{
                audio.paused = false
            }
        }

        setInterval(toggleSound(), 1000)
    </script>
</body>

</html>