// Structural elements
body {
  background: $backgroundColour;
  color: $bodyColour;
  height: 100%;
  display: flex;
  @include flex-direction(column);
  overflow-x: hidden;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


// Header, feature and footer
.header,
.footer {
  .nav {
    text-align: right;
  }
  .logo {
    @include flex(0 0 auto);
  }
  .container {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    padding: 1rem 0;
    @include breakpoint(break-1) {
      @include align-items(center);
    }
  }
}

.header .nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.feature {
  padding-bottom: .4rem;
  margin-bottom: 1.6rem;
  text-align: center;
  background: $featureBackgroundColour;
  background-size: cover;
  background-position: center;
  .container {
    min-height: 35vh;
    max-width: 60%;
    @include flex-direction(column);
    @include justify-content(center);
  }
}

.logo {
  display: inline-block;
  line-height: 0;
  max-height: 4rem;
  @include flexbox;
  @include align-items(center);
  img {
    max-height: 5rem;
  }
}

.nav {
  a {
    padding: .2rem;
  }
  &--social a {
    display: inline-block;
    line-height: 1;
  }
}

.small {
  padding-top: .8rem;
  color: $captionColour;
  display: inline-block;
}

.footer {
  background: $headingColour;
  color: $captionColour;
  a {
    color: $captionColour;
    &:hover {
      color: $backgroundColour;
    }
  }
  .container {
    @include flex-wrap(wrap);
  }
  .small {
    padding-top: 0;
  }
}


// Pagination nav
.nav--paginator {
  @include flexbox;
  @include justify-content(space-between);
  color: $captionColour;
  text-align: center;
}

.pagination {
  min-width: 20%;
}


// Main content
.main {
  @include flexbox;
  @include flex-direction(column);
  @include flex(1, 0, auto);
  @include justify-content(flex-start);
  margin-bottom: 1.6rem;
  @include breakpoint(break-1) {
    @include justify-content(center);
    @include flex-direction(row);
  }
}

.header,
.feature,
.footer {
  @include flex(0, 0, auto);
}

.share .button {
  margin-right: .3rem;
}

.aside {
  @include breakpoint(break-1) {
    max-width: 34%;
    margin-left: 4%;
    @include flex(1, 0, auto);
    opacity: 0.5;
    transition: opacity .1s;
    .section {
      position: sticky;
      top: 0;
    }
    &--left {
      margin-left: 0;
      margin-right: 4%;
      order: -1;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.section {
  margin: 0;
}


// Lists
.list {
  list-style: none;
  &--nav {
    overflow: hidden;
    transition: .2s;
  }
  .item--post,
  .item--result,
  .item--category {
    margin-left: 0;
  }
}

.item {
  &--nav {
    @include breakpoint(break-1) {
      margin-left: .4rem;
      display: inline-block;
    }
    &:first-of-type {
      margin-left: 0;
    }
  }
  &--current {
    a {
      color: $captionColour;
    }
  }
}


// Links, icons and images
a .icon {
  transition: fill .1s;
  &:hover {
    fill: #C6E2FF;
  }
}

.icon {
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
  fill: #C6E2FF;
}

// Media content
img {
  max-width: 100%;
  height: auto;
}

.figure {
  line-height: 0;
  &--left {
    float: left;
    padding-right: .8rem;
  }
  &--right {
    float: right;
    text-align: right;
    padding-left: .8rem;
  }
  &--center {
    text-align: center;
    clear: both;
  }
}

.video,
.map {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.map {
  padding-bottom: 70%;
}

.figure,
.video,
.map,
.form {
  margin-bottom: .8rem;
}

audio,
video {
  width: 100%;
}


// Form elements and buttons
.form {
  position: relative;
  &__legend {
    font-style: italic;
    color: $captionColour;
    position: absolute;
    overflow: hidden;
    right: 0;
    clip: rect(0 0 0 0);
  }
}

button,
.button,
input[type="text"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="color"],
textarea,
select {
  padding: .6rem 1.2rem;
  margin-bottom: .6rem;
  transition: color .1s, background-color .1s, border .1s;
  line-height: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  .icon {
    margin: 0 0 .35rem;
  }
}

input[type="submit"],
button,
.button {
  cursor: pointer;
  display: inline-block;
  color: $backgroundColour;
  background: $accentColour;
  transition: box-shadow .1s;
  will-change: box-shadow;
  box-shadow: inset 0 0 0 2rem transparent;
  &:hover {
    box-shadow: inset 0 0 0 2rem rgba(0,0,0,0.25);
  }
  &:active,
  &:focus {
    box-shadow: inset 0 0 0 2rem rgba(0,0,0,0.25);
  }
}

.button--nav {
  @include breakpoint(break-1) {
    display: none;
  }
  background: none;
  color: $linkColour;
  margin-bottom: 0;
  min-height: 4rem;
  min-width: 4rem;
  &:hover,
  &:focus {
    box-shadow: none;
    color: $hoverColour;
  }
}

a,
button,
.button,
input,
textarea,
select {
  &:focus,
  &:hover:focus {
    outline: solid .12rem $focusColour;
    outline-offset: -.12rem;
  }
}

a:hover:focus {
  outline: none;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="color"],
textarea,
select {
  width: 100%;
  border: 1px solid $captionColour;
  &:hover {
    border-color: $bodyColour;
  }
}

select {
  background: $codeBackgroundColour;
}

textarea {
    resize: vertical;
}

label {
  @include baseline($fontsize: zeta, $font: $bodytype, $lineheight: 2, $below: 2, $breakpoint: all);
}

code {
  padding: .12rem .2rem;
  color: $headingColour;
}

pre code {
  padding: 0;
}

.required {
  color: red;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}
::-moz-placeholder {
  opacity: 0.5;
}
:-ms-input-placeholder {
  opacity: 0.5;
}
:-moz-placeholder {
  opacity: 0.5;
}

::selection {
  background: $headingColour;
  color: $backgroundColour;
  text-shadow: none;
}


// Sassline overrides
.typeset {
  a > code {
    text-shadow: none;
  }
  .button,
  button {
    background-image: none;
    text-shadow: none;
    color: $backgroundColour;
    &:hover,
    &:active,
    &:focus {
      background-image: none;
      color: $backgroundColour;
    }
  }
  hr {
    width: 100%;
  }
  li {
    > p {
      padding: 0;
      margin: 0;
	  padding-left: .2rem;
      padding-right: 0;
      margin-left: .2rem;
    }
  }
  .nav a {
    padding-left: 0;
    padding-right: 0;
    margin-left: .2rem;
    margin-right: .2rem;
  }
  pre {
    white-space: pre;
    overflow-x: scroll;
  }
}

.blogContent {
  @include breakpoint(break-1) {
    width: 100%;
	border-left: 2px double $captionColour ;
	border-right: 2px double $captionColour;
	border-top: 2px double $captionColour;
	border-bottom: 2px double $captionColour;
	padding-left: 25px;
	padding-right: 15px;
  }
  background: $contentBackgroundColour
}

.content {
  @include breakpoint(break-1) {
    width: 100%;
  }
  line-height: 0.5;
}

.navy-line {
    width: 200px;
    height: 1px;
    margin: 60px auto 0;
    border-bottom: 2px solid #3385FF;
  }
  
  .navy-bg {
  background-color: #6E8B3D;
  color: #fff;
}

.vertical-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.icons-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#vertical-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
  }
}

.vertical-timeline-content .btn {
  float: right;
}

#vertical-timeline.light-timeline:before {
  background: #e7eaec;
}

@media only screen and (min-width: 1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
    &:before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -9px;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-icon {
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    font-size: 19px;
    i {
      margin-left: -12px;
      margin-top: -10px;
    }
  }
}

.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #f1f1f1;
  border-radius: .25em;
  padding-top: 1px;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  h2 {
    font-weight: 400;
    margin-top: 1px;
  }
  p {
    margin: 1em 0;
    line-height: 1.6;
  }
  .vertical-date {
    float: left;
    font-weight: 500;
  }
}

.vertical-date small {
  color: #B2DFEE;
  font-weight: 400;
}

.vertical-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #fff;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content {
    h2 {
      font-size: 20px;
	  font-weight: 600;
	  margin-top: 1px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation {
    .vertical-timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;
      &::before {
        top: 12px;
        left: 100%;
        border-color: transparent transparent transparent #fff;
      }
      .btn {
        float: left;
      }
    }
    .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
      float: right;
      .btn {
        float: right;
      }
    }
    .vertical-timeline-content .vertical-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 10px;
	  color: #1E90FF;
      font-size: 24px;
    }
    .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent #fff transparent transparent;
      }
      .vertical-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }
  }
}

.timeline-item {
  .content, .date i {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
  }
}

.timeline-item {
  .date {
    i {
      position: absolute;
      top: 0;
      right: 0;
      padding: 1px;
      width: 30px;
      text-align: center;
      border-bottom: 1px solid #e7eaec;
      background: #f8f8f8;
    }
    text-align: right;
    width: 110px;
    position: relative;
    padding-top: 10px;
  }
  .content {
    padding-top: 1px;
    min-height: 30px;
    &:hover {
      background: #f6f6f6;
    }
  }
}

.vertical-timeline-icon {
  text-align: center;
}



@media (min-width: 768px) {
  .landing-page {
    .navbar-wrapper {
      margin-top: 20px;
      .container {
        padding-right: 15px;
        padding-left: 15px;
      }
      .navbar {
        padding-right: 0;
        padding-left: 0;
        border-radius: 4px;
      }
    }
    .carousel-caption p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 1.4;
    }
  }
}