---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      {% if paginator.posts %}
        {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
        <h1>{{ collectiondata.title }}</h1>
        <!--{{ collectiondata.description | markdownify }}-->
		<p>My Chinese blog is: &nbsp; <a href="https://blog.csdn.net/robert_chen1988">here</a></p>
		
      {% else %}	  	  
        <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
		
		
	
        {{ content }}
		
		
       
      {% endif %}
	  {% include post-list.html %}
    </article>
	
    
	

  </div>
{% include site-aside.html align="left" %}

</main>

{% include site-footer.html %}
